*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MOBILE FIRST */

/* UTILITIES */
body, input{
    font-family: 'Roboto', sans-serif;
}

span{
    display: inline-block;
}

a{
    text-decoration: none;
}

a:visited{
    color: #9792E4;
}

/* HEADER */
.header-jumbo{
    background-color: #0084FD;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
}

.container{
    max-width: 380px;
    margin: 0px auto;
}

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-header{
    margin: 15px 0px;
}



.fa-bars{
    color: #fff;
    font-size: 2rem;
}

.header-option{
    display: none;
    padding-right: 15px;
    color: #fff;
    font-size: 1.2rem
}

.btn-header{
    font-size: 1rem;

}

/* end header */



/* FIRST PART */

h2{
    color: #0084FD;
    margin: 20px 0px;
}

#p-left{
    text-align: left;
    color: #63798C;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.9rem;
}

.btn-apple{
    margin-top: 25px;
    width: 230px;
    background-color: #0084FD;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
}
button > span{
    margin-left: 5px;
}

.img-container{
    margin-top: 50px;
    margin-bottom: -20px;

}

.img-container > img{
    width: 100%;
}

.font-img{
    font-size: 5rem;
    color: #0084FD;
    margin-top: 15px;
}

.col-text{
    margin-bottom: 30px;
    text-align: center;
    padding: 0px 5px;
    color: #63798C;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.9rem;
}
.row-main{
    display: flex;
    flex-wrap: wrap;
}

.row{
    margin: 120px 0px 50px;
    display: flex;
    flex-wrap: wrap;
}

.col-jumbo-maxi, .col-jumbo-mini{
    margin-bottom: 30px;
    background-color: #B5DDFF;
    border-radius: 25px;
}


.margin-top{
    margin-top: 25px;
}

.margin-content{
    margin: 15px 20px;
}

.col-content{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.btn{
    padding: 10px 30px;
    border-radius: 35px;
    border: none;
}




/*SECOND PART*/
.jumbotron-purple{
    background-color: #9792E4;
    padding-bottom: 50px;
    margin-bottom: 70px;
}


.col-content > .planning-img{
    margin: 50px 0px 100px; 
}

.col-content > h1{

    color: #fff;
    margin: 50px 0px 50px;
}

.p-planning{
    color: #fff;
    line-height: 1.8rem;
    margin-bottom: 25px;
}

h3{
    text-align: center;
    margin: 20px 0px 20px;
}

#white-container-p{
    color: #818181;
    margin: 15px 0px 70px;
    line-height: 1.8rem;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

.donwload-btn{
    background-color: #9792E4;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50% );
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    margin-bottom: 25px;
}
.border-radius-50{
    border-radius: 50px;
}

.border-radius-25{
    border-radius: 25px;
}
.white-container{
    background-color: #fff;
    padding: 15px 30px;
    position: relative;
}
.col-30-main{
    margin-bottom: 30px;
}

.margin-top{
    margin-top: 25px;
}




/*THIRD PART*/

.first-100-content{
    margin-bottom: 50px;
    text-align: center;
    padding: 0px 15px;
}

.first-100-content > span{
    margin-bottom: 30px;
}

.first-100-content > h1{
    color: #9792E4;
    margin-bottom: 30px;
}

.first-100-content > p{
    line-height: 2rem;
    font-size: 1.2rem;
}


.card-col-100{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #9792E4;
}

.img-circle{
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.profile-1{
    background-image: url(../img/testimonial1.jpg);
}
.profile-2{
    background-image: url(../img/testimonial2.jpg);
}
.profile-3{
    background-image: url(../img/testimonial3.jpg);
}

.testimonial-text > p {
    text-align: center;
    padding: 0px 30px;
    margin-top: 20px;
    color: #fff;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.fa-quote-left{
    font-size: 1.8rem;
}

.testimonial-text > h4{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 25px 0px;
    font-size: 1.2rem;
}


/*FOURTH PART*/

.h1-fourth-part{
    text-align: center;
    padding-top: 50px;
    color: #fff;
    margin-bottom: 30px;
}

.why-list{
    margin: 25px 0px 25px;
}

.fa-sharp{
    font-size: 3rem;
    color: #9792E4;
}

.white-container > h2{
    color: #9792E4;
}

.border-radius-25 > p{
    line-height: 1.8rem;
    color: #818181;
    margin-bottom: 25px;
}

.btn-more{
    background-color: #9792E4;
    color: #fff;
    padding: 10px 50px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-weight: 600;
}
.col-30-main{
    margin-bottom: 30px;
}

/*FIFTH PART*/
.text-col-50-fifth-part > h1{
    color: #9792E4;
    font-size: 3rem;
    margin-bottom: 30px;
}

.text-col-50-fifth-part > p{
    line-height: 2.2rem;
    margin-bottom: 40px
}

.img-about-us{
    position: relative;
    background-image: url(../img/about.jpg);
}

.quote-about-us{
    color: #9792E4;
    font-size: 4rem;
    position: absolute;
    right: -10px;
    top: -10px;
}
.about-us-content > h2{
    color: #9792E4;
    font-size: 1.7rem;
}

.bnt-linkedin{
    background-color: #9792E4;
    color: #fff;
    margin-bottom: 80px;
}


/*SIXTH PART*/
.sixth-part-content{
    text-align: center;
}

.get-started{
    text-transform: uppercase;
    color: #d8d8d8;
    margin-top: 70px;
    font-size: 1.3rem;
    font-weight: 300;
}

.sixth-part-content > h3{
    color: #fff;
    font-size: 1.9rem;
}

.sixth-part-content > h1{
    color: #FDC15F;
    font-size: 3.5rem;
    margin: 30px 0px 40px;
}

.sixth-part-content > p{
    color: #fff;
    line-height: 1.7rem;
    margin-bottom: 25px;
}

.sixth-part-content > ul, li{
    color: #fff;
}

.btn-get-started{
    letter-spacing: 3px;
    font-weight: 600;
    background-color: #fff;
    font-size: 1rem;
    color: #9792E4;
    padding: 20px 60px;
    margin-bottom: 25px;
}

.dot-copyright{
    padding-bottom: 10px;
}

ul,li{
    list-style-type: none;
    display: inline-block;
}

.policy-link:visited{
    color: #fff;
}

.policy-link{
    color: #fff;
    text-decoration: underline;
}

.fa-circle{
    position: relative;
    bottom: 2.75px;
    margin: 0px 3px;
    color: #fff;
    font-size: 0.3rem;
}

.white-color{
    text-decoration: underline;
}

.white-color:visited{
    color: #fff;
}

.margin-0{
    margin: 0px 0px;
}



/*FOOTER*/
.footer-content{
    text-align: center;
    color: #fff;
}

.first-p-footer{
    padding-top: 40px;
    margin-bottom: 70px;
}

.footer-content > p{
    line-height: 1.7rem;
}
.jumbotron-footer{
    background-color: #333333;
    padding-bottom: 50px;
}





/* RESPONSIVE */



/* TABLET */
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }

    .row{
        width: 100%;
        justify-content: space-between;
    }
    
    .col-jumbo-maxi{
        width: calc(70% - 30px);
    }

    .col-jumbo-mini{
        width: calc(100% / 3 - 20px);
    }

    .col-jumbo-maxi, .col-jumbo-mini{
        margin-bottom: 20px; 
    }
    
    .img-container > .phone-img {
        width: 60%;
    }

    .img-container > img {
        width: 100%;
    }

    .col-50{
        width: 100%;
    }

    .col-content > h1 {
        font-size: 3.8rem;
    }
    .col-100{
        width: 100%;
    }

    .card-col-100{
        padding: 25px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img-circle{
        width: 25%;
        margin: 0px 0px;
    }

    .testimonial-text{
        width: 80%;
        padding: 0px 30px;
    }
    
    .testimonial-text > P{
        text-align: left;
        padding: 0px;
        color: #fff;
        line-height: 1.4rem;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .fa-quote-left {
        font-size: 1.2rem;
      }
    .testimonial-text > h4 {
        text-align: left;
        text-transform: uppercase;
        color: #fff;
        margin: 25px 0px;
        font-size: 1.2rem;
    }

    .row-main{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .col-30-main{
        width: calc(100% / 2 - 18px);
    }

    .col-50{
        width: 100%;
    }

    .img-about-us{
        width: 80%;
    }

    .fa-quote-left {
        font-size: 3.2rem;
    }

    .quotes-card{
        font-size: 1.2rem;
    }

    .col-80{
        width: calc(70% - 30px);
    }

    .col-20{
        width: 30%;
    }

    .container-phone{
        max-width: 380px;
        margin: 0px auto;
    }
}



/* DESKTOP */
@media screen and (min-width: 991px) {
    .container{
        max-width: 991px;
    }

    .row-flex{
        flex-direction: row;
    }

    .img-container > .phone-img {
        width: 100%;
        margin-top: 52px;
        margin-bottom: -40px;
    }

    .margin-content {
        margin: 15px 10px;
    }

    .col-content > h1 {
        font-size: 1.8rem;
    }

    .container-desktop-small{
        max-width: 700px;
    }

    .col-jumbo-maxi {
        width: calc(70% - 41px);
    }

    .col-50{
        width: calc(100% / 2 - 30px);
    }

    .white-container-col-50{
        margin-top: 135px;
        background-color: #fff;
        padding: 10px 30px 30px;
        position: relative;
    }

    .img-container{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .img-circle {
        width: 18%;
        margin: 0px 0px;
    }

    .testimonial-text > P {
        line-height: 1.8rem;
    }

    .fa-quote-left {
        font-size: 3.2rem;
    }

    .quotes-card{
        font-size: 1.2rem;
    }

    .col-30-main {
        width: calc(100% / 3 - 18px);
    }

    .img-about-us {
        width: 60%;
    }

    .container-phone {
        max-width: 380px;
        margin: 0px auto;
    }

    .hamburger-menu{
        display: none;
    }

    .header-option{
        display: block;
        display: inline;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }

    .img-container > .phone-img {
        width: 100%;
        margin-bottom: -40px;
    }

    .img-circle {
        width: 15%;
        margin: 0px 0px;
    }

    .col-jumbo-maxi {
        width: calc(70% - 50px);
    }

    .img-about-us {
        width: 50%;
    }

    .container-phone {
        max-width: 380px;
        margin: 0px auto;
    }

    .container-desktop-small{
        max-width: 820px;
    }

}    
